body {
  background-image: radial-gradient(circle at center, rgb(1, 1, 24), rgb(2, 2, 80));
  padding-top: 20px;
  padding: 30px;
}

.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
  justify-content: space-between;
}
.ola {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.ire{
  
  background-color: darkblue;
  border-radius: 10px;
  color: white;
}


.aba {
  align-items: center;
  background-color: rgb(244, 244, 250);
  box-shadow: 0px 0px 2px 5px rgba(156, 156, 156, 0.5); /* Corrected RGBA syntax */
  justify-content: center;
  border-radius: 10px;
  height: 40%;
}
.nas{
 background-color:  rgb(2, 2, 80);
 color: white;
 font-weight: bolder;
 border-radius: 10px;
}

.btn {
  
  border-radius: 10px;
  background-color: rgb(0, 0, 34);
}
.sam{
  width: 100%;
  align-items: center;
  
}

.ada {
  background-color: rgb(211, 211, 5); /* Consider adjusting for better contrast */
}

.aka {
  background-color: rgb(16, 16, 138); /* Consider adjusting for better contrast */
}
.josh{
  margin: 0px auto;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: white;
  width: 80%;
}
.josh input{
  width: 50%;
  padding: 7px;
  border-radius: 5px;
}
.josh input:hover{
  padding: 8px;
  outline: auto;
}
.josh button{
  background-color: darkblue;
  color: white;
  font-weight: bolder;
  font-family: cursive;
  padding: 7px;
  margin-top: 5px;
  border-radius: 5px;
}
.josh label{
  font-weight: bolder;
  font-family: cursive;
}
.josh h2{
  font-family: cursive;
}
.baba{
  color: white;
  font-size: 25px;
  text-align: center;
}



